@import './../../responsive/mixin';

.showorders {

    .modal {

        @include respond(tab-port) {
            margin: 0;
        }

        .modal-dialog {
            max-width: 100%;
            padding: 30px;
    
            @include respond(tab-port) {
                padding: 0px;
            }
    
            .modal-body {
                padding: 40px;
                overflow-x: scroll;
    
                @include respond(tab-port) {
                    padding: 10px;
                }
            }
        }
    }

}